<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p><i>published <%= time_ago_in_words(post.date.to_time()) %> ago</i></p>
  <p><%= truncate post.content, length: 160 %>
<%= link_to 'Read More', post %> </p>
<% end %>

<!-- 
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
